In [1]:
import configparser
import psycopg2
import boto3
import json
from tabulate import tabulate
import pandas as pd

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

DB_NAME                 = config.get("CLUSTER","DB_NAME")
DB_USER            = config.get("CLUSTER","DB_USER")
DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DB_PORT               = config.get("CLUSTER","DB_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

SONG_DATA = config.get('S3','SONGS_DATA')
LOG_DATA = config.get('S3','LOG_DATA')
BUCKET = config.get('S3','BUCKET')

In [3]:
print(type(BUCKET))

<class 'str'>

In [4]:
ec2 = boto3.resource('ec2', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)
s3 = boto3.resource('s3', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)
iam = boto3.client('iam', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)
redshift = boto3.client('redshift', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [6]:
log_data_bucket = s3.Bucket(BUCKET)

first_object = None

for my_object in log_data_bucket.objects.filter(Prefix='log_data').limit(2):
    if my_object.key.endswith('.json'):
        first_object = my_object
        print(my_object)

s3_client = boto3.client('s3', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)
json_obj = s3_client.get_object(Bucket=BUCKET, Key=first_object.key)
json_data = json_obj["Body"].read().decode('utf-8')
json_df = pd.read_json(json_data, lines=True)
print(json_df.info())
# print(tabulate(json_df.head(10), headers='keys', tablefmt='psql'))

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         11 non-null     object
 1   auth           15 non-null     object
 2   firstName      15 non-null     object
 3   gender         15 non-null     object
 4   itemInSession  15 non-null     int64
 5   lastName       15 non-null     object
 6   length         11 non-null     float64
 7   level          15 non-null     object
 8   location       15 non-null     object
 9   method         15 non-null     object
 10  page           15 non-null     object
 11  registration   15 non-null     int64
 12  sessionId      15 non-null     int64
 13  song           11 non-null     object
 14  status         15 non-null     int64
 15  ts             15 non-null     int64
 16  userAgent      15 non-null     object
 17  userId         15 non-null     int64
dtypes: float64(1), int64(6), object(11)
memory usage: 2.2+ KB
None

In [7]:
song_data_bucket = s3.Bucket(BUCKET)

first_object = None

for my_object in song_data_bucket.objects.filter(Prefix='song-data').limit(4):
    if my_object.key.endswith('.json'):
        first_object = my_object
        print(my_object)

s3_client = boto3.client('s3', region_name='us-west-2', aws_access_key_id=KEY, aws_secret_access_key=SECRET)
json_obj = s3_client.get_object(Bucket=BUCKET, Key=first_object.key)
json_data = json_obj["Body"].read().decode('utf-8')
json_df = pd.read_json(json_data, lines=True)
print(json_df.head())

s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAABD128F429CF47.json')
              song_id  num_songs      title   artist_name  artist_latitude  year   duration           artist_id  artist_longitude artist_location
0  SOCIWDW12A8C13D406          1  Soul Deep  The Box Tops         35.14968  1969  148.03546  ARMJAGH1187FB546F3         -90.04892     Memphis, TN

In [8]:
song_data_bucket = s3.Bucket(BUCKET)

first_object = None

for my_object in song_data_bucket.objects.all():
    if my_object.key.endswith('log_json_path.json'):
        first_object = my_object
        print(my_object)
        break
json_obj = s3_client.get_object(Bucket=BUCKET, Key=first_object.key)
json_data = json_obj["Body"].read().decode('utf-8')
json_dump = json.dumps(json_data, indent=4, separators=(',', ':'))
json_df = pd.read_json(json_dump, lines=True)
print(json_df.head())

s3.ObjectSummary(bucket_name='udacity-dend', key='log_json_path.json')
                                                   0
0  {\n    "jsonpaths": [\n        "$['artist']",\...

In [9]:
# TODO: Create the IAM role
try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description="Allows Redshift clusters to call AWS services on your behalf",
        AssumeRolePolicyDocument= json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
                            'Effect': 'Allow',
                            'Principal': {'Service': 'redshift.amazonaws.com'}}],
            'Version': '2012-10-17'}
        )
    )
    iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                        PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                        )['ResponseMetadata']['HTTPStatusCode']
    

except Exception as e:
    print(e)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.

In [10]:
# Get ARN role
print("Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
print(roleArn)

Get the IAM role ARN
arn:aws:iam::960279161717:role/dwhRole

In [11]:
# Create a RedShift cluster
try:
    response = redshift.create_cluster(        
        # TODO: add parameters for hardware
        ClusterType = DWH_CLUSTER_TYPE,
        NodeType = DWH_NODE_TYPE,
        NumberOfNodes = int(DWH_NUM_NODES),

        # TODO: add parameters for identifiers & credentials
        DBName = DB_NAME,
        ClusterIdentifier = DWH_CLUSTER_IDENTIFIER,
        MasterUsername = DB_USER,
        MasterUserPassword = DB_PASSWORD,
        
        # TODO: add parameter for role (to allow s3 access)
        IamRoles = [roleArn]
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [12]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', None)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

                 Key                                                                                  Value
0  ClusterIdentifier                                                                             dwhcluster
1           NodeType                                                                              dc2.large
2      ClusterStatus                                                                              available
3     MasterUsername                                                                                dwhuser
4             DBName                                                                                    dwh
5           Endpoint  {'Address': 'dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com', 'Port': 5439}
6              VpcId                                                                  vpc-0057e5b06b44e28a8
7      NumberOfNodes                                                                                      4

In [13]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", roleArn)

DWH_ENDPOINT ::  dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::960279161717:role/dwhRole

In [14]:
# Open incoming TCP port to access cluster endpoint
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName= defaultSg.group_name,  # TODO: fill out
        CidrIp='0.0.0.0/0',  # TODO: fill out
        IpProtocol='TCP',  # TODO: fill out
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0a82ef76dd3f65885')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [15]:
%load_ext sql

In [16]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DB_PORT,DB_NAME)
print(conn_string)

postgresql://dwhuser:OkeMog2014@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh

In [17]:
%sql $conn_string

In [22]:
%%sql
SELECT *
FROM staging_events LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(1259, None, 'Logged In', 'Austin', 'M', '0', 'Rosales', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', '1541059521796', 11, None, '200', 1541179188796, 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0', 12),
 (1339, 'Bloodhound Gang', 'Logged In', 'Kaleb', 'M', '0', 'Cook', '260.20526000000001', 'free', 'Yuba City, CA', 'PUT', 'NextSong', '1540679673796', 53, 'Uhn Tiss Uhn Tiss Uhn Tiss', '200', 1541187675796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 54),
 (2082, None, 'Logged In', 'Lily', 'F', '0', 'Cooper', None, 'free', 'Columbia, SC', 'GET', 'Home', '1541058203796', 58, None, '200', 1542174899796, '"Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 59)]

In [21]:
%%sql
SELECT *
FROM staging_songs LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('SOCLNYE12AB017FAC1', 1, 'Hare Of The Dog', 'Martyn Hare', None, 0, Decimal('222'), 'AR01B551187B9A923C', None, ''),
 ('SOITACD12A8C1371CD', 1, 'Pecatore (Album Version)', 'Tonino Carotone', None, 0, Decimal('167'), 'AR01G6G1187B9892EF', None, ''),
 ('SOKRSCD12AB01822B6', 1, 'Frenomotor', 'Tonino Carotone', None, 2008, Decimal('191'), 'AR01G6G1187B9892EF', None, '')]

In [79]:
%%sql
SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(22, datetime.datetime(1545, 11, 27, 14, 19, 6), 88, 'paid', 'SOEEQVP12AF72AA2BD', 'AR045KI1187FB56E7B', 969, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (86, datetime.datetime(1545, 11, 27, 14, 19, 6), 88, 'paid', 'SOFZQDO12A6D4FB4F4', 'AR045KI1187FB56E7B', 969, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (150, datetime.datetime(1545, 11, 27, 14, 19, 6), 88, 'paid', 'SOJUVXX12AB017CD86', 'AR045KI1187FB56E7B', 969, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (214, datetime.datetime(1548, 12, 7, 10, 19, 6), 97, 'paid', 'SOPWAIB12A8C142A16', 'AR052WY1187FB55B1C', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (278, datetime.datetime(1548, 12, 7, 10, 19, 6), 97, 'paid', 'SOPZCGG12A8C13791E', 'AR052WY1187FB55B1C', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [69]:
%%sql
SELECT to_timestamp (ts::bigint::text,'YYYYMMDDHH24MISS')::timestamp at time zone 'UTC' at time zone 'PST'
FROM staging_events
LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(datetime.datetime(1546, 10, 1, 23, 19, 6, tzinfo=datetime.timezone.utc),),
 (datetime.datetime(1542, 7, 10, 14, 19, 6, tzinfo=datetime.timezone.utc),),
 (datetime.datetime(1542, 7, 12, 20, 19, 6, tzinfo=datetime.timezone.utc),)]

In [77]:
%%sql
SELECT EXTRACT(MONTH FROM to_timestamp (ts::BIGINT::text,'YYYYMMDDHH24MISS')::timestamp at time zone 'UTC' at time zone 'PST') AS month
FROM staging_events
LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cncclbvqmvwf.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(4,), (4,), (4,)]